.withdrawal-area {
    padding: 2rem 1rem;
    font-family: "Poppins", sans-serif;

    h1.withdrawal-title {
        text-align: center;
        margin: 0 0 2.5rem 0;
        font-weight: 500;
        line-height: 48px;
        font-size: 30px;
    }

    form.withdrawal-form {
        max-width: 300px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        .form-input {
            display: grid;

            input,
            select {
                font-size: 1.125rem;
                line-height: 1.75rem;
                padding: .5rem .75rem;
                border: 1px solid rgb(40 187 250);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }

        button.form-btn {
            width: 100%;
            color: #FFF;
            cursor: pointer;
            padding: .75rem;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 600;
            background: linear-gradient(91deg, #31c38e 0%, #3f85f6 100%);
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &:hover {
                background: linear-gradient(91deg, #e64790 0%, #c37606 100%);
            }
        }
    }
}

@media (max-width: 767px) {
    .withdrawal-area {
        h1.withdrawal-title {
            line-height: 33px;
            font-size: 25px;
        }
    }
}