.login-active-header {
    background-color: #28BBFA;
    padding: 2rem;

    .login-active-header-menu {
        max-width: 1281px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        ul {
            display: flex;
            align-items: center;
            padding: 0;
            gap: .75rem;

            li {
                padding: 0;
                list-style-type: none;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: #FFF;
                }
            }
        }

        button {
            background-color: transparent;
            border: none;
            padding: 0;

            a {
                color: #FFF;
                text-decoration: none;
                padding: .95rem 1.75rem;
                font-size: .875rem;
                line-height: 1.25rem;
                font-weight: 600;
                background: linear-gradient(91deg, #e64790 0%, #c37606 100%);
                border: none;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                &:hover {
                    background: linear-gradient(91deg, #31c38e 0%, #3f85f6 100%);
                }
            }
        }
    }

    .header-mobile-menu {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;

        button {
            padding: 5px;
            border: none;
            background-color: transparent;

            i {
                color: #FFF;
                font-size: 1.5rem;
            }
        }

        button.close-menu {
            display: none;
        }

    }
}

.login-active-info {
    font-family: 'Poppins', sans-serif;

    h1.login-active-title {
        text-align: center;
        margin: 2rem 1rem 5rem 1rem;
        font-weight: 500;
        line-height: 48px;
        font-size: 30px;
    }

    .login-active-dashboard-boxes {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        max-width: 75rem;
        margin: auto;


        .login-active-double-box>div,
        .login-active-single-box {
            margin-bottom: 1.5rem;
            background-color: #FFF;
            padding: 1rem;
            border: 1px solid #e5e7eb;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
            text-align: center;

            h5 {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                margin: 0 0 1.5rem 0;
            }

            a {
                color: #FFF;
                text-decoration: none;
                padding: .75rem 1.75rem;
                display: inline-block;
                margin-bottom: 0.25rem;
                font-size: .875rem;
                line-height: 1.25rem;
                font-weight: 600;
                background: linear-gradient(91deg, #31c38e 0%, #3f85f6 100%);
                border: none;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                &:hover {
                    background: linear-gradient(91deg, #e64790 0%, #c37606 100%);
                }
            }

            .box-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                margin: 1.5rem 0 0 0;

                h6 {
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0;
                text-align: left;

                }

                a {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 991.1px) {
    .login-active-header {
        padding: 1.5rem 2rem;
        position: relative;

        .header-menu {
            display: none;
            background-color: #000;
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            height: auto;

            ul {
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
                padding: 15px;
                gap: 1.5rem;
                padding: 3rem 2.5rem 0 2.5rem;

            }

            button {
                padding: 2.5rem 2.5rem 3rem 2.5rem;
            }
        }
    }
}

@media (max-width: 767.99px) {

    .login-active-info {
        h1.login-active-title {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 2rem;
        }

        .login-active-dashboard-boxes {
            flex-direction: column-reverse;
            gap: 0;
            max-width: 21rem;
            padding: 1rem;

            .box-inner {
                h6 {
                    font-size: 14px !important;
                }
            }
        }
    }
}