.user-profile-top {
    font-family: 'Poppins', sans-serif;
    padding: 2.1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .user-profile-img {
        img {
            width: 100%;
        }
    }

    .user-profile-details {
        h3.user-profile-name {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2rem;
            margin: 0 0 .625rem;
        }

        h6#user-profile-id {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 0;
        }
    }
}

.user-profile-table {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 3rem 1rem;

    .user-profile-table-left {
        p {
            margin: 0;
            font-weight: 600;
            padding: .375rem;

            &:nth-child(odd) {
                background-color: rgb(229 231 235);
            }

        }
    }

    .user-profile-table-right {
        p {
            margin: 0;
            padding: .375rem;

            &:nth-child(odd) {
                background-color: rgb(229 231 235);
            }
        }

        p.profle-share-btn {
            background-color: transparent;
            padding: 0;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                text-decoration: none;
                color: #FFF;
                padding: .5rem;
                font-size: .875rem;
                line-height: 1.25rem;
                font-weight: 600;
                background: linear-gradient(91deg, #31c38e 0%, #3f85f6 100%);
                border: none;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                &:hover {
                    background: linear-gradient(91deg, #e64790 0%, #c37606 100%);
                }
            }
        }


    }
}

@media (max-width: 511px) {
    .user-profile-table {
        .user-profile-table-left {
            p {
                font-size: 11px;
            }
        }

        .user-profile-table-right {
            p {
                font-size: 11px;

                a {
                    font-size: 13px !important;
                    padding: 0.25rem !important;
                }
            }




        }
    }
}